<html>
  <head>
    <title>Alloy’s Ruby gems</title>
  </head>

  <p>This is an overview of the available gems by Eloy Duran, aka `alloy'.</p>

  <body>
    <% specs.each do |spec| %>
      <%= spec_partial(spec) %>
    <% end %>
  </body>
</html>